<%= form_for(@link, url: user_links_path) do |f| %>
    <table>
      <thead>
      <tr>
        <th><%= f.label :url %></th>
        <th><%= f.label :title %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= f.text_field :url %></td>
        <td><%= f.text_field :title %></td>
        <td><%= f.submit %></td>
      </tbody>
    </table>
<% end %>