<table class="link-table">
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "url" %></th>
    <th><%= sortable "read" %></th>
    <th>Edit</th>
    <th>Recommend Link</th>
  </tr>
  <% for link in @links %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <% if link.read %>
            <td><%= link_to link.read?, update_read_user_link_path(id: link.id, user_id: current_user.id), method: :patch, class:"read-link", id:"read" %></li></td>
        <% else %>
            <td><%= link_to link.read?, update_read_user_link_path(id: link.id, user_id: current_user.id), method: :patch, class:"read-link", id:"unread" %></li></td>
        <% end %>
        <td><%= link_to "Edit", edit_user_link_path(id: link.id, user_id:current_user.id) %></td>
        <td><%= link_to "Recommend Link", email_user_link_path(id: link.id, user_id:current_user.id) %></td>
        </tr>
  <% end %>
</table>

