<%= link_to "Log Out", logout_path, method: :delete %><br>

<h1>My Links</h1>
<div>
  <h3>Create a Link</h3>
  <%= render partial: 'form' %>
</div>
<%= form_tag user_links_path, method: "get", id: "links_search" do  %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Links", name: nil %>
    </p>
    <div id="links"><%= render 'links' %></div>
<% end %>
